form.mt-form {
  padding: 20px;
}

form.mt-form ul {
  list-style: none;
}

form.mt-form li {
  margin: 0;
  float: right;
}

form.mt-form fieldset {
  border: 0;
  padding: 0;
}

form.mt-form *.error-field {
  border: 1px solid red;
}

form.mt-form span.error-explanation {
  color: red;
  border-bottom: 1px dotted red;
  vertical-align: center;
  float: right;
}

form.mt-form label {
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid #999;
  color: #000;
  margin: 2px 0px 2px 0px;
}

.button {
  float: right;
}

