<li><%= link_to(image_tag('icons/account.png') + t(:accounts), accounts_path) %></li>
<li><%= link_to(image_tag('icons/operation.png') + t(:operations), operations_path) %></li>
<li><%= link_to(image_tag('icons/home.png') + t(:logout_btn), logout_path) %></li>
