<table id="list-of-accounts" class="data-table">
  <thead>
    <th>Name</th>
    <th>Number</th>
    <th>Owner</th>
  </thead>
  <tbody>
    <% unless @accounts.nil? || @accounts.empty? then %>
      <% @accounts.each do |account| %>
        <%= render :partial => 'accounts/account_item', :locals => {:account => account} %>
      <% end %>
    <% else %>
      <tr><td colspan="4"><div class="empty">No accounts defined</div>
    <% end %>
  </tbody>
</table>
