<div class="account-controls" id="account-controls-<%=h account.id %>">
  <%= link_to(image_tag('icons/edit.png'), "#", {:class => 'edit-account-link'}) %>
  <%= link_to(image_tag('icons/delete.png'), "#", {:class => 'delete-account-link'}) %>
</div>
