<%= javascript_include_tag "accounts" %>

<a id="new-account-link" href="#"><%= image_tag('icons/new.png') %>New account</a>

<div id="accounts">
  <%= render :partial => 'accounts/account_list', :locals => {:accounts => @accounts }%>
</div>
